@import "./fonts.css";

body {
  background-image: url("../assets/bg/greenBg.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(4px);
  color: #fff;
  font-family: "Amatic";
  display: flex;
  flex-direction: column;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
  flex: 1 1 auto;
}

.header {
  height: 70px;
  background-color: #192f2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 25%;
  padding-left: 15px;
  font-family: "Amatic";
  font-size: 30px;
}
.icon {
  background-image: url("../assets/svg/tree.svg");
  height: 50px;
  width: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}
.nav-item__toys {
  line-height: 40px;
}
.nav-item__fir {
  line-height: 40px;
}
.search {
  padding-right: 20px;
}
.search-txt {
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(80, 80, 80, 0.774) 0%,
    rgba(37, 52, 54, 0.658) 100%
  );
  backdrop-filter: blur(31px);
  width: 300px;
  border: 2px solid #4ddada;
  border-radius: 25px;
  height: 40px;
  color: #94e0e0;
  text-align: center;
}

.special-container {
  text-align: center;
  padding-top: 18px;
  font-size: 22px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #203f3f;
  background-color: rgba(69, 194, 156, 0.952);
}

.filter-page {
  display: none;
}
.filter-toys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;

  .filter {
    height: 380px;
    width: 500px;
    border-radius: 40px;
    border: 2px solid #4ddada;
    background: radial-gradient(
      118.88% 606.86% at 0% 0%,
      rgba(90, 146, 145, 0.72) 0%,
      rgba(19, 31, 36, 0.77) 100%
    );
    // backdrop-filter: blur(4px);
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .filter-title {
    font-size: 30px;
    font-family: "Amatic";
    text-align: center;
  }

  .subtitle {
    font-size: 26px;
    line-height: 40px;
  }

  .filter__choice {
    .filter-by-form {
      display: flex;
      justify-content: space-around;
    }
    .form {
      height: 40px;
      width: 40px;
      background-size: contain;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
    }
    .form:active {
      stroke: rgb(248, 240, 163);
      fill: rgb(248, 240, 163);
    }
    .form1 {
      background-image: url("../assets/svg/ball.svg");
    }
    .form2 {
      background-image: url("../assets/svg/bell.svg");
    }
    .form3 {
      background-image: url("../assets/svg/cone.svg");
    }
    .form4 {
      background-image: url("../assets/svg/snowflake.svg");
    }
    .form5 {
      background-image: url("../assets/svg/toy.svg");
    }

    .filter-by-color {
      display: flex;
      justify-content: space-around;
    }

    .but-color {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .but-color + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    .but-color + label::before {
      content: "";
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #192f2d;
      border-radius: 7px;
    }

    #but-color1 + label::before {
      background-color: #fff;
    }
    #but-color2 + label::before {
      background-color: rgb(255, 217, 0);
    }
    #but-color3 + label::before {
      background-color: red;
    }
    #but-color4 + label::before {
      background-color: rgb(0, 153, 255);
    }
    #but-color5 + label::before {
      background-color: green;
    }

    .filter-by-size {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 400px;
    }
    .size {
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: contain;
      background-image: url("../assets/svg/ball.svg");
      // padding: 0px 40px 0px 50px;
    }
    .size-l {
      width: 60px;
      height: 60px;
    }
    .size-m {
      width: 45px;
      height: 45px;
    }
    .size-s {
      width: 35px;
      height: 35px;
    }

    .filter-by-love {
      display: flex;
      justify-content: space-between;
    }

    .but-love,
    .but-special {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .but-love + label,
    .but-special + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    .but-love + label::before,
    .but-special + label::before {
      content: "";
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 2px solid #4ddada;
      border-radius: 7px;
      // background-color: rgba(160, 229, 218, 0.767);
    }
  }

  #input-number1,
  #input-number2 {
    display: inline-block;
    width: 70px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #4ddada;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

  .range-number,
  .range-year {
    display: flex;
    justify-content: space-between;
  }

  #input-year2,
  #input-year1 {
    border: none;
    display: inline-block;
    width: 70px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #4ddada;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

  .sorting {
    justify-content: start;
    position: relative;
    .list-sort {
      margin-top: 20px;
      border-radius: 20px;
      border: 2px solid #4ddada;
      background-color: transparent;
      color: #fff;
      font-size: 20px;
      height: 40px;
      appearance: none;
      overflow: hidden;
      background: url("../assets/svg/down.svg") no-repeat right;
      background-size: 55px 35px;
      padding-left: 20px;
    }
    .list-item-sort {
      background-color: rgb(79, 100, 93);
    }
  }
}

.reset {
  position: absolute;
  top: calc(100% - 60px);
  left: calc(100% - 150px);
  width: 140px;
  height: 30px;
  border: 2px solid #94e0e0;
  border-radius: 10%;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
}

.activeBut {
  filter: sepia(70%) brightness(70%);
}

.love-label {
  position: relative;
}

.activeLabel::after {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: 12px;
  width: 12px;
  height: 14px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.cards-container {
  margin-top: 40px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: dense;
  grid-gap: 40px;
}
.card {
  width: 330px;
  height: 300px;
  border: 2px solid #94e0e0;
  border-radius: 10%;
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(90, 146, 145, 0.72) 0%,
    rgba(19, 31, 36, 0.77) 100%
  );
}

.special {
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(245, 237, 163, 0.829) 0%,
    rgba(212, 150, 34, 0.77) 100%
  );
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title {
  padding-top: 5px;
  font-size: 30px;
  text-align: center;
}
#card-img {
  width: 120px;
}
.description {
  padding-top: 10px;
}
.card-p {
  padding: 10px;
  font-size: 22px;
}

@media (max-width: 1580px) {
  main {
    display: flex;
  }
  .filter-toys {
    display: block;
    height: fit-content;
  }
  .filter {
    width: 500px;
    margin-bottom: 10px;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px 0px 20px;
    grid-gap: 20px;
  }
  .card {
    width: 300px;
  }
}

/********************************************************************/

.start-page {
  margin: auto;
  .welcome {
    display: flex;
    margin: 100px auto;
    width: 550px;
    height: 300px;
    border-radius: 10%;
    border: 2px solid #5dc4bb;
    backdrop-filter: blur(10px);
    background-color: rgba(72, 124, 124, 0.192);
  }
  .welcome-text {
    width: 500px;
    font-size: 100px;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
  }
  .but-start {
    display: flex;
    margin: 0 auto;
    width: 110px;
    height: 60px;
    border-radius: 10%;
    border: 2px solid #5dc4bb;
    backdrop-filter: blur(10px);
    background-color: rgba(72, 124, 124, 0.192);
  }
  .but-start-text {
    font-size: 40px;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
  }
}

.footer {
  height: 40px;
  background-color: #192f2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-page {
  display: none;
  width: 100%;
  .fir-sett-side {
    background-color: rgba(13, 22, 21, 0.658);
    width: 20%;
    .icons {
      margin: auto;
      display: flex;
      width: 40%;
      justify-content: space-around;
    }
    .icon {
      background-color: transparent;
      width: 40px;
      height: 40px;
      background-size: contain;
      background-position: center;
    }
    .sound-icon {
      background-image: url("../assets/svg/audio.svg");
    }
    .mute {
      background-image: url("../assets/svg/mute.svg");
    }
    .snow-icon {
      background-image: url("../assets/svg/snow.svg");
    }
    .active {
      filter: sepia(70%) brightness(0.5);
    }
    .chose-tree {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
      grid-row-gap: 20px;
      width: 90%;
      margin: 10px auto;
    }
    .chose-title {
      margin: 20px;
      font-size: 30px;
    }
    .tree {
      background-color: rgba(175, 214, 208, 0.589);
      width: 110px;
      height: 110px;
      border-radius: 10%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .tree1 {
      background-image: url("../assets//tree/tree1.png");
    }
    .tree2 {
      background-image: url("../assets/tree/tree2.png");
    }
    .tree3 {
      background-image: url("../assets/tree/tree3.png");
    }
    .tree4 {
      background-image: url("../assets/tree/tree4.png");
    }
    .chose-background {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
      grid-row-gap: 10px;
      width: 90%;
      margin: 10px auto;
    }
    .background {
      background-color: rgba(175, 214, 208, 0.589);
      width: 60px;
      height: 60px;
      border-radius: 10%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .background1 {
      background-image: url("../assets/bg/bg1.jpg");
    }
    .background2 {
      background-image: url("../assets/bg/bg2.jpg");
    }
    .background3 {
      background-image: url("../assets/bg/bg3.jpg");
    }
    .background4 {
      background-image: url("../assets/bg/bg4.jpg");
    }
    .background5 {
      background-image: url("../assets/bg/bg5.jpg");
    }
    .background6 {
      background-image: url("../assets/bg/bg6.jpg");
    }
    .background7 {
      background-image: url("../assets/bg/bg7.jpg");
    }
    .background8 {
      background-image: url("../assets/bg/bg8.jpg");
    }
    .chose-festoon {
      display: flex;
      justify-content: space-around;
      width: 70%;
      margin: auto;
    }
    .festoon-but {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #0e1817;
    }
    .color-red {
      background-color: rgb(182, 5, 5);
    }
    .color-yellow {
      background-color: rgb(240, 175, 35);
    }
    .color-blue {
      background-color: rgb(4, 130, 233);
    }
    .color-green {
      background-color: rgb(8, 201, 18);
    }
    .color-multi{
      background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
    }
    .buttons {
    }
    .fir-tree {
    }
    .balls-sett-side {
    }
  }

  .fir-tree-page {
    background-image: url("../assets/bg/bg5.jpg");
    width: 60%;
    background-position: center;
    background-size: cover;
    position: relative;

    .ball {
      position: absolute;
    }
  }
  .festoon-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 85%;
    pointer-events: none;
    z-index: 99;
    position: absolute;
    top: 80px;
    left: calc(50% - 156px);
  }
  
  .fes-line {
    display: flex;
    margin: 35px 0px;
  }

  .fes-fire {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0 15px;

    animation-fill-mode: both;
    animation-iteration-count: infinite;
    display: inline-block;
    background: red;
    box-shadow: 0px 4.66667px 24px 3px red;
    animation-name: redk;
    animation-duration: 2s;
  }

  .fes-line-0{
    .fes-fire{
      margin: 0 10px;
    }
  }

  @keyframes redk {
    0%, 100% {
      background: red;
      box-shadow: 0px 4.66667px 24px 3px red;
    }
    50% {
      background: rgba(247, 0, 0, 0.4);
      box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 0, 0.2);
    }
  }
  
  @keyframes yellowk {
    0%, 100% {
      background: yellow;
      box-shadow: 0px 4.66667px 24px 3px yellow;
    }
    50% {
      background: rgba(247, 189, 0, 0.76);
      box-shadow: 0px 4.66667px 24px 3px rgba(247, 148, 0, 0.596);
    }
  }

  @keyframes bluek {
    0%, 100% {
      background: blue;
      box-shadow: 0px 4.66667px 24px 3px blue;
    }
    50% {
      background: rgba(0, 37, 247, 0.4);
      box-shadow: 0px 4.66667px 24px 3px rgba(0, 16, 247, 0.2);
    }
  }
  @keyframes greenk {
    0%, 100% {
      background: rgb(17, 201, 17);
      box-shadow: 0px 4.66667px 24px 3px rgb(27, 187, 27);
    }
    50% {
      background: rgba(0, 247, 12, 0.4);
      box-shadow: 0px 4.66667px 24px 3px rgba(21, 247, 0, 0.2);
    }
  }

  .fir-tree {
    position: absolute;
    left: calc(50% - 190px);
    margin-top: 80px;
    height: 85%;
    z-index: 10;
  }

  .balls-sett-side {
    background-color: rgba(13, 22, 21, 0.658);
    width: 20%;
  }
  .chose-title {
    margin: 20px;
    font-size: 30px;
  }
  .chose-balls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    grid-row-gap: 10px;
  }

  .ball {
    width: 57px;
    height: 57px;
    background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-color: transparent;
    position: absolute;
    z-index: 9999999;
  }

  .balls {
    padding: 3px;
    background-color: rgba(175, 214, 208, 0.589);
    width: 60px;
    height: 65px;
    border-radius: 10%;
    position: relative;
  }

  .ball-count {
    text-align: center;
    font-size: 14px;
    position: absolute;
    z-index: 99999999999999999999999999;
    left: calc(100% - 16px);
    top: calc(100% - 17px);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #252674;
  }
}

#map,
#area {
  z-index: 999999999999999999;
}

.snow-flake {
  position: absolute;
  animation: fall 7s linear forwards;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  top: -20px;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

@media (max-width: 1400px) {
  .main-page{
    .fir-sett-side{
      .tree{
        width: 90px;
        height: 90px;
      }
      .background{
        width: 40px;
        height: 40px;
      }
      .chose-title{
        margin: 5px;
      }
    }
    .chose-balls{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  main{
    padding: 0px;
  }
  .header{
    height: 40px;
  }
}

@media (max-width: 1100px) {
  .main-page{
    .balls{
      width: 40px;
      height: 43px;
    }
    .ball{
      width: 35px;
      height: 38px;
    }
    .fir-sett-side{
      .tree{
        width: 60px;
        height: 60px;
      }
    }
  }
}